body{
		margin:0px;
		padding:0px;
		font-size:20px;
		color:#6D727D;
		background-color:#fafafa;
		overflow:hidden;
		text-align:center;
		background-image:url(../image/bg.png);
	}
	a:link{text-decoration:underline; color:#B4BFD6;}
	a:visited{text-decoration:underline; color:#B4BFD6;}
	a:hover{text-decoration:underline; color:#6D727D;}
	a:active{text-decoration:overline; color:#6D727D;}
	main{
		margin-top: 20%;
	}