<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TimeCapsule</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>timeCapsule.web.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>timeCapsule.web.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>timeCapsule.web.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUIServlet</display-name>
    <servlet-name>LoginUIServlet</servlet-name>
    <servlet-class>timeCapsule.web.UI.LoginUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUIServlet</servlet-name>
    <url-pattern>/LoginUIServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUIServlet</display-name>
    <servlet-name>RegisterUIServlet</servlet-name>
    <servlet-class>timeCapsule.web.UI.RegisterUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUIServlet</servlet-name>
    <url-pattern>/RegisterUIServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageUIServlet</display-name>
    <servlet-name>ManageUIServlet</servlet-name>
    <servlet-class>timeCapsule.web.UI.ManageUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageUIServlet</servlet-name>
    <url-pattern>/ManageUIServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HeadUIServlet</display-name>
    <servlet-name>HeadUIServlet</servlet-name>
    <servlet-class>timeCapsule.web.UI.HeadUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeadUIServlet</servlet-name>
    <url-pattern>/HeadUIServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCustomerServlet</display-name>
    <servlet-name>AddCustomerServlet</servlet-name>
    <servlet-class>timeCapsule.web.controller.AddCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomerServlet</servlet-name>
    <url-pattern>/AddCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCustomerServlet</display-name>
    <servlet-name>ListCustomerServlet</servlet-name>
    <servlet-class>timeCapsule.web.controller.ListCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCustomerServlet</servlet-name>
    <url-pattern>/ListCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCustomerServlet</display-name>
    <servlet-name>EditCustomerServlet</servlet-name>
    <servlet-class>timeCapsule.web.controller.EditCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCustomerServlet</servlet-name>
    <url-pattern>/EditCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerServlet</display-name>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <servlet-class>timeCapsule.web.controller.DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <url-pattern>/DeleteCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCapsuleServlet</display-name>
    <servlet-name>AddCapsuleServlet</servlet-name>
    <servlet-class>timeCapsule.web.controller.AddCapsuleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCapsuleServlet</servlet-name>
    <url-pattern>/AddCapsuleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TreeHoleServlet</display-name>
    <servlet-name>TreeHoleServlet</servlet-name>
    <servlet-class>timeCapsule.web.controller.TreeHoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TreeHoleServlet</servlet-name>
    <url-pattern>/TreeHoleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindCapsuleServlet</display-name>
    <servlet-name>FindCapsuleServlet</servlet-name>
    <servlet-class>timeCapsule.web.controller.FindCapsuleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindCapsuleServlet</servlet-name>
    <url-pattern>/FindCapsuleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCapsuleServlet</display-name>
    <servlet-name>ShowCapsuleServlet</servlet-name>
    <servlet-class>timeCapsule.web.controller.ShowCapsuleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCapsuleServlet</servlet-name>
    <url-pattern>/ShowCapsuleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownLoadServlet</display-name>
    <servlet-name>DownLoadServlet</servlet-name>
    <servlet-class>timeCapsule.web.controller.DownLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownLoadServlet</servlet-name>
    <url-pattern>/DownLoadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilterTest</display-name>
    <servlet-name>FilterTest</servlet-name>
    <servlet-class>junit.test.filter.FilterTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterTest</servlet-name>
    <url-pattern>/FilterTest</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>WordsFilter</display-name>
    <filter-name>WordsFilter</filter-name>
    <filter-class>timeCapsule.web.filter.WordsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>WordsFilter</filter-name>
    <url-pattern>/WEB-INF/jsp/test/filtertest.jsp</url-pattern>
    <url-pattern>/FilterTest</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>timeCapsule.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>HTMLFilter</display-name>
    <filter-name>HTMLFilter</filter-name>
    <filter-class>timeCapsule.web.filter.HTMLFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HTMLFilter</filter-name>
    <url-pattern>/WEB-INF/jsp/capsule/addcapsule.jsp</url-pattern>
    <url-pattern>/WEB-INF/jsp/addcustomer.jsp</url-pattern>
    <url-pattern>/WEB-INF/jsp/ editcustomer.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>GzipFilter</display-name>
    <filter-name>GzipFilter</filter-name>
    <filter-class>timeCapsule.web.filter.GzipFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GzipFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>AutoLoginFilter</display-name>
    <filter-name>AutoLoginFilter</filter-name>
    <filter-class>timeCapsule.web.filter.AutoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutoLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ServletTest</display-name>
    <servlet-name>ServletTest</servlet-name>
    <servlet-class>junit.test.servlet.ServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTest</servlet-name>
    <url-pattern>/ServletTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CapsuleServlet</display-name>
    <servlet-name>CapsuleServlet</servlet-name>
    <servlet-class>timeCapsule.web.controller.manage.CapsuleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CapsuleServlet</servlet-name>
    <url-pattern>/CapsuleServlet</url-pattern>
  </servlet-mapping>
</web-app>